{%extends 'base.html' %}
{%block contenido%}
<table class="table table-danger table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <!-- <th scope="col">Handle</th> -->
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mufasa</td>
        <td>Ramirez</td>
        <!-- <td>@mdo</td> -->
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Chloe</td>
        <td>Ramirez</td>
        
        <!-- <td>@fat</td> -->
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Marta</td>
        <td>Ramirez</td>
        <!-- <td>@twitter</td> -->
    </tr>
    </tbody>
</table>
{%endblock contenido%}