<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.css' %}"> 
    <title>Home</title>
</head>
<body>
    <h1 class="fst-italic">Bienvenidos</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home     |</a>
            <a class="nav-link" href="{% url 'estudiantes'%}">Estudiantes     |</a>
            <a class="nav-link" href="{% url 'administradores'%}">Administradores     |</a>
            <a class="nav-link" href="{% url 'AcercaDe'%}">Acerca de</a>
            </div>
        </div>
        </div>
    </nav>
    <div>
        {%block contenido%}
        {%endblock contenido%}
    </div>
</body>
<footer>
    <script src="{% static 'Scripts/bootstrap.js' %}"></script>
</footer>
</html>