{%extends 'base.html' %}
{%block contenido%}


<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <!-- <th scope="col">Handle</th> -->
    </tr>
    </thead>
    <tbody>
    {% for estudiante in estudiantes_list %}
    {% if estudiante.rol == 2 %}
    <tr>
        <th scope="row">{{estudiante.id}}</th>
        <td>{{estudiante.nombre}}</td>
        <td>{{estudiante.apellido}}</td>
    </tr>
    {%endif%}
    {%endfor%}
    </tbody>

</table>
{%endblock contenido%}