.header{
    width:100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navg a{
    color:aliceblue!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.navg a:hover{
    background-color: crimson;
}

.text-header{
    min-height: 100vh;
    color:antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.text-header h2{
    font-family:fantasy;
}

.text-header span{
    letter-spacing: 5px;
    font-size: 1.4em;
    font-family:fantasy;
}
.text-header p{
    font-family: fantasy;
}

.btn-agregar{
    padding: 7px 12px;
    color: aliceblue;
    background-color: brown;
    border-radius: .7em;
}

.btn-agregar:hover{
    color:aliceblue;
}

.btn-guardar{
    padding: 7px 12px;
    color: aliceblue;
    background-color: brown;
    border-radius: .7em;
}

.btn-guardar:hover{
    color:aliceblue;
}

.btn-listar{
    padding: 7px 12px;
    color: aliceblue;
    background-color: brown;
    border-radius: .7em;
}

.btn-listar:hover{
    color:aliceblue;
}

.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 50%);
}

.Titulo{
    font-size:2rem;
    margin-bottom: .5em;
}

.cajitas{
    margin-top:2.5em;
    display: grid;
    gap: 1em;
}
